<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.gianttinygames.appodeal_example_project_1" android:versionCode="1000000" android:versionName="1.0.0" android:installLocation="auto" xmlns:tools="http://schemas.android.com/tools"
android:allowBackup="false"
>

<!-- This is the androidmanifest.xml used as the basis for building game .apk's from Studio -->

  
  <!-- uses here -->
  <uses-feature android:glEsVersion="0x00020000"/>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.READ_PHONE_STATE" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
<uses-permission android:name="com.android.vending.BILLING" />
<uses-permission android:name="android.permission.BLUETOOTH" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


  <!-- <uses-feature android:glEsVersion="0x00020000" android:required="true" /> -->
  <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

<!--   <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="23"/>  -->
  
  <supports-screens android:resizeable="true" android:largeScreens="true"></supports-screens>
  
  
  
  <!-- application -->
  <application android:name="com.gianttinygames.appodeal_example_project_1.RunnerApplication" android:label="@string/app_name" android:icon="@drawable/icon" tools:replace="android:label">
    <activity android:name="com.gianttinygames.appodeal_example_project_1.RunnerActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:label="@string/app_name" android:launchMode="singleTop" android:alwaysRetainTaskState="true"  android:configChanges="orientation|keyboardHidden|screenSize" tools:replace="android:label">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
        
      </intent-filter>
    </activity>
    <activity android:name="com.gianttinygames.appodeal_example_project_1.RunnerPreferenceActivity" android:label="@string/menu_settings">
    </activity>
    
    <!-- services -->
    
    <receiver android:name="com.appodeal.ads.AppodealPackageAddedReceiver" android:enabled="true" android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.PACKAGE_ADDED" />
        <data android:scheme="package" />
      </intent-filter>
    </receiver>
    <meta-data android:name="com.appodeal.framework" android:value="unity" />
    <activity android:name="com.appodeal.ads.InterstitialActivity" android:configChanges="orientation|screenSize" android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    <activity android:name="com.appodeal.ads.VideoActivity" android:configChanges="orientation|screenSize" android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    <activity android:name="com.appodeal.ads.LoaderActivity" android:configChanges="orientation|screenSize" android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
    <activity android:name="com.google.android.gms.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:theme="@android:style/Theme.Translucent" />
    <activity android:name="com.chartboost.sdk.CBImpressionActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" android:hardwareAccelerated="true" android:excludeFromRecents="true" />
    <activity android:name="com.applovin.adview.AppLovinInterstitialActivity" android:theme="@android:style/Theme.Translucent" />
    <activity android:name="com.mopub.mobileads.MoPubActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:theme="@android:style/Theme.Translucent" />
    <activity android:name="com.mopub.common.MoPubBrowser" android:configChanges="keyboardHidden|orientation|screenSize" />
    <activity android:name="com.mopub.mobileads.MraidActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
    <activity android:name="com.mopub.mobileads.MraidVideoPlayerActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
    <activity android:name="org.nexage.sourcekit.mraid.MRAIDBrowser" android:configChanges="orientation|keyboard|keyboardHidden|screenSize" android:theme="@android:style/Theme.Translucent" />
    <activity android:name="com.amazon.device.ads.AdActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:theme="@android:style/Theme.Translucent" />
    <activity android:name="ru.mail.android.mytarget.ads.MyTargetActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
    <activity android:name="org.nexage.sourcekit.vast.activity.VPAIDActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

<activity android:name="com.appodeal.ads.networks.vpaid.VPAIDActivity"   android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
<activity android:name="org.nexage.sourcekit.vast.activity.VASTActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
    <activity android:name="com.appodeal.ads.networks.SpotXActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
    <activity android:name="com.facebook.ads.InterstitialAdActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
    <activity android:name="com.unity3d.ads.android.view.UnityAdsFullscreenActivity" android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:hardwareAccelerated="true" />
    <activity android:name="com.unity3d.ads.android2.view.UnityAdsFullscreenActivity" android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:hardwareAccelerated="true" />
    <activity android:name="com.jirbo.adcolony.AdColonyOverlay" android:configChanges="keyboardHidden|orientation|screenSize" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
    <activity android:name="com.jirbo.adcolony.AdColonyFullscreen" android:configChanges="keyboardHidden|orientation|screenSize" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
    <activity android:name="com.jirbo.adcolony.AdColonyBrowser" android:configChanges="keyboardHidden|orientation|screenSize" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
    <activity android:name="com.vungle.publisher.FullScreenAdActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
    <activity android:name="com.startapp.android.publish.list3d.List3DActivity" android:theme="@android:style/Theme" />
    <activity android:name="com.startapp.android.publish.OverlayActivity" android:configChanges="orientation|keyboardHidden|screenSize" android:theme="@android:style/Theme.Translucent" />
    <activity android:name="com.startapp.android.publish.FullScreenActivity" android:configChanges="orientation|keyboardHidden|screenSize" android:theme="@android:style/Theme" />
    <service android:name="com.yandex.metrica.MetricaService" android:enabled="true" android:exported="true" android:process=":Metrica">
      <intent-filter>
        <action android:name="com.yandex.metrica.IMetricaService" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
      <meta-data android:name="metrica:api:level" android:value="41" />
    </service>
    <receiver android:name="com.yandex.metrica.MetricaEventHandler" android:enabled="true" android:exported="true">
      <intent-filter>
        <action android:name="com.android.vending.INSTALL_REFERRER" />
      </intent-filter>
    </receiver>
    <activity android:name="com.yandex.mobile.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
    <activity android:name="com.inmobi.rendering.InMobiAdActivity" android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:hardwareAccelerated="true" android:excludeFromRecents="true" />
    <receiver android:name="com.inmobi.commons.core.utilities.uid.ImIdShareBroadCastReceiver" android:enabled="true" android:exported="true">
      <intent-filter>
        <action android:name="com.inmobi.share.id" />
      </intent-filter>
    </receiver>
    <service android:enabled="true" android:name="com.inmobi.signals.activityrecognition.ActivityRecognitionManager" />
    <activity android:name="com.flurry.android.FlurryFullscreenTakeoverActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" /><meta-data android:name="com.google.android.gms.version"  android:value="7571000"  tools:replace="android:value" />


<activity android:name="com.google.android.gms.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

   	<!-- activities here -->
    

    <!-- receivers here -->    
	  
    
    <!-- This is XPeria Play specific, we have decided to make this standard though for all applications, just in case -->
    <meta-data android:name="xperiaplayoptimized_content" android:resource="@string/xperiaplayoptimized_content" />
    <meta-data android:name="game_display_name" android:resource="@string/app_name" />
    <meta-data android:name="game_icon" android:resource="@drawable/icon" />
    
    <!-- meta-data here -->
    <meta-data android:value="0" android:name="YYUse24Bit" />
<meta-data android:value="0" android:name="OrientLandscape" />
<meta-data android:value="-1" android:name="OrientPortrait" />
<meta-data android:value="0" android:name="OrientLandscapeFlipped" />
<meta-data android:value="-1" android:name="OrientPortraitFlipped" />
<meta-data android:value="0" android:name="SplashscreenTime" />
<meta-data android:name="com.google.android.gms.games.APP_ID" android:value="@string/gp_app_id" />
<meta-data android:name="com.google.android.gms.appstate.APP_ID" android:value="@string/gp_app_id" />
  <meta-data android:name="YYHostIP" android:value="192.168.0.8"/>
  <meta-data android:name="YYHostPort" android:value="51268"/>
  <meta-data android:name="YYNumExtensionClasses" android:value="2"/>
  <meta-data android:name="YYExtensionClass0" android:value="AppodealAds"/>
  <meta-data android:name="SKIPPABLE_VIDEO" android:value="2"/>
  <meta-data android:name="INTERSTITIAL" android:value="1"/>
  <meta-data android:name="BANNER" android:value="4"/>
  <meta-data android:name="BANNER_BOTTOM" android:value="8"/>
  <meta-data android:name="BANNER_CENTER" android:value="32"/>
  <meta-data android:name="BANNER_TOP" android:value="16"/>
  <meta-data android:name="REWARDED_VIDEO" android:value="128"/>
  <meta-data android:name="NON_SKIPPABLE_VIDEO" android:value="128"/>
  <meta-data android:name="YYExtensionClass1" android:value="GooglePlayServicesExtension"/>
  <meta-data android:name="GoogleMobileAds_Banner" android:value="1"/>
  <meta-data android:name="GoogleMobileAds_MRect" android:value="2"/>
  <meta-data android:name="GoogleMobileAds_Full_Banner" android:value="3"/>
  <meta-data android:name="GoogleMobileAds_Leaderboard" android:value="4"/>
  <meta-data android:name="GoogleMobileAds_Skyscraper" android:value="5"/>
<meta-data android:value="true" android:name="YYiCadeSupport" />
<meta-data android:name="IsBuiltAsYoYoRunner" android:value="Yes" />

   
   
  </application>
</manifest>








